body {
  background: white;
  margin-left: 20px;
}
li {
  list-style-type: none;
  margin-bottom: 5px;

}
.button {
  width: 20px;
  height: 20px;
  background-color: gray;
  margin-left: 5px;
}

#add-form {
  margin-left: 40px;
}

