body {
  background: cornsilk;
  font-family: sans-serif;
}

.add-item {
  background-color: #fdfdfd;
  border: 1px solid #ccc;
}

.item {
  margin: 0.5em;
  padding-left: 0;

  max-width: 10em;
  list-style: none;
}

.item {
  margin-bottom: 0.5em;
  padding: 0.5em;

  background-color: #fdfdfd;
  box-shadow: 0 0 0.3em 0.03em rgba(0, 0, 0, 0.3);
}
.item:hover {
  box-shadow: 0 0 0.3em 0.03em rgba(0, 0, 0, 0.7);

  transition: 0.6s;
}

.item .name {
  /* force to use inline-block so that it gets minimum height */
  display: inline-block;
}

.item .delete-item {
  float: right;

  padding: 0;

  background-color: #fdfdfd;
  border: none;

  cursor: pointer;

  visibility: hidden;
}
.item:hover .delete-item {
  visibility: visible;
}